<button
	type="button"
	class="btn btn-block btn-primary btn-lg"
	data-toggle="modal"
	data-target="#ad_form"
>
	ADD Ad
</button>

<div class="modal fade" id="ad_form">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">ADD Ad</h4>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!--card-->
				<div class="card-body">
					<div class="form-group">
						<label>product id</label>
						<input
							class="form-control"
							id="inputProductId"
							placeholder="product id"
						/>
					</div>
					<div class="form-group">
						<label>ad url</label>
						<input class="form-control" id="inputAdUrl" placeholder="ad url" />
					</div>
					<div class="form-group">
						<label>link url</label>
						<input
							class="form-control"
							id="inputLinkUrl"
							placeholder="link url"
						/>
					</div>
					<div class="form-group">
						<label>slot id</label>
						<input
							class="form-control"
							id="inputSlotId"
							placeholder="slot id"
						/>
					</div>
					<div class="form-group">
						<label>cost type</label>
						<input
							class="form-control"
							id="inputCostType"
							placeholder="cost type"
						/>
					</div>
					<div class="form-group">
						<label>start date</label>
						<input
							class="form-control"
							id="inputStartDate"
							placeholder="start date"
						/>
					</div>
					<div class="form-group">
						<label>end date</label>
						<input
							class="form-control"
							id="inputEndDate"
							placeholder="end date"
						/>
					</div>
				</div>
				<!--card 끝-->
			</div>
			<div class="modal-footer justify-content-between">
				<button
					type="button"
					class="btn btn-primary"
					data-dismiss="modal"
					onclick="addAd()"
				>
					ADD
				</button>
			</div>
		</div>
	</div>
</div>

<script>
	function addAd() {
		// 사용자가 입력한 값들을 formData에 저장
		var formData = {
			product_id: document.getElementById("inputProductId").value,
			ad_url: document.getElementById("inputAdUrl").value,
			link_url: document.getElementById("inputLinkUrl").value,
			slot_id: document.getElementById("inputSlotId").value,
			cost_type: document.getElementById("inputCostType").value,
			start_date: document.getElementById("inputStartDate").value,
			end_date: document.getElementById("inputEndDate").value,
		};
		try {
			// fetch 함수로 서버에 POST 요청을 보냄
			fetch("http://127.0.0.1:8000/add_ad/", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				// formData를 JSON 문자열로 변환하고 요청의 본문으로 설정
				body: JSON.stringify(formData),
			})
				.then((response) => {
					if (!response.ok) {
						throw new Error("!response.ok");
					}
					// 응답 데이터를 JSON 형태로 파싱
					return response.json();
				})
				.then((data) => {
					// 성공한 경우
					console.log("Success:", data);
					// console.log("Success:", formData);
					alert("Add 성공!");
				})
				.catch((error) => {
					// 오류: 서버 응답이나 JSON 파싱에 문제가 있는 경우
					console.error("Error2:", error);
					alert("에러");
				});
		} catch (error) {
			// 오류: fetch 함수 호출이나 JSON 문자열 변환에 문제가 있는 경우
			console.error("Error1:", error);
			alert("에러");
		}
	}
</script>
